@model And.ElkomMuhasebe.UI.WEB.Controllers.CARI_HAREKETController.yenimodel
@{


       if (Model.id == 0) {
    ViewBag.Title = "Genel Banka Hareketleri";
}
else
{
    ViewBag.Title = "Banka Hareketleri";
    ViewBag.Extra = " " + Model.kodu + "-" + Model.ismi;
}

Layout = "~/Views/Shared/yeni.cshtml";
}



<div class="row py-2">

    <div class="col">
        <a id="carilistesi" href="/BANKAS/" class="btn btn-sm btn-secondary  mr-1">
            <span class="icon">
                <i class="fas fa-list"></i>
            </span>
            <span class="text">Banka Listesi</span>
        </a>
        @if (Model.id != 0) {
        <a id="genelhareket-tab" href="/BANKA_HAREKET/INDEX/" class="btn btn-sm btn-secondary  mr-1">
            <span class="icon">
                <i class="fas fa-list"></i>
            </span>
            <span class="text">Banka Genel Hareketleri</span>
        </a>
        <a class="btn btn-sm btn-secondary  mr-1">
            <span class="icon ">
                <i class="fas fa-print"></i>
            </span>
            <span onclick="detaylıyazdır()" class="text">Detaylı Raporu Yazdır</span>
        </a>}
    </div>
    <div class=" col">
        <a class="btn btn-sm btn-outline-primary btn-icon-split float-right collapsed" data-toggle="collapse" href="#collapseFiltre" role="button" aria-expanded="false" aria-controls="collapseCariHareketFiltre">
            <span class="icon">
                <i class="fas fa-filter"></i>
            </span>
            <span class="text">Filtre</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <div class="collapse" id="collapseFiltre" style=""><button class="btn btn-sm btn-primary" onclick="tabloyenile()">Filtreyi Uygula</button>
            <div class="card">
                <div class="row p-2">
                    <div class="col-6 mb-2">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tarih</span>
                            </div>
                            <input type="date" id="ilktarih" aria-label="First name" value="@DateTime.Now.Year.ToString("D" + 4)-01-01" class="form-control">
                            <input type="date" id="sontarih" aria-label="Last name" value="@DateTime.Now.Year.ToString("D" + 4)-12-30" class="form-control">
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S. Merkezi</span>
                            </div>
                            <select name="smerkezi" id="semerkezi_id" class="form-control form-control-sm">
                                <option value="0">Tümü</option>
                                @foreach (var item in Model.sORUMLULUK_MERKEZIs)
                                {
                                    <option value="@item.ID">@item.ACIKLAMA</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <div class="card">
                            <div class="card-header filtre-card-header">
                                İşlem Türleri
                            </div>
                            <div class="card-body filtre-card-body">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="türdevir" type="checkbox" value="0" checked>
                                            <label class="form-check-label" for="türdevir">Devir</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türfatura" value="1" checked>
                                            <label class="form-check-label" for="türfatura">Fatura</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türefatura" value="12" checked>
                                            <label class="form-check-label" for="türefatura">EFatura</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türearsiv" value="13" checked>
                                            <label class="form-check-label" for="türearsiv">EArsiv</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türcari" value="2" checked>
                                            <label class="form-check-label" for="türcari">Cari Fişi</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türstok" value="5" checked>
                                            <label class="form-check-label" for="türstok">Stok Fişi</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türkasafisi" value="7" checked>
                                            <label class="form-check-label" for="türkasafisi">Kasa Fişi</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türgenelgiderler" value="8" checked>
                                            <label class="form-check-label" for="türgenelgiderler">Genel Gider</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türservis" value="10" checked>
                                            <label class="form-check-label" for="türservis">Servis Hizmet</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türceksenet" value="9" checked>
                                            <label class="form-check-label" for="türceksenet">Çek/Senet</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türebanka" value="14" checked>
                                            <label class="form-check-label" for="türebanka">Banka Fişi</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türvisa" value="18" checked>
                                            <label class="form-check-label" for="türvisa">Visa</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="türvisakomisyon" value="6" checked>
                                            <label class="form-check-label" for="türvisakomisyon">Visa Komisyon</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="card">
                            <div class="card-header filtre-card-header">
                                İşlem Tipi
                            </div>
                            <div class="card-body filtre-card-body">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="filtredevir" value="0" checked>
                                            <label class="form-check-label" for="filtredevir">Devir</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="filtregiris" value="1" checked>
                                            <label class="form-check-label" for="filtregiris">Giriş</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="filtrecikis" value="2" checked>
                                            <label class="form-check-label" for="filtrcikis">Çıkış</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                   
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">


    <!-- /.card-header -->
    <div class="card-body">
        <div id="example2_wrapper" class="table-responsive">
        <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div>
                <div class="col-sm-12">

                    <table id="bootstrap-table" class="table-bordered table-sm" data-show-search-clear-button="true"
                           data-show-footer="true" data-footer-style="footerStyle" data-show-print="true"
                           data-single-select="true" data-show-refresh="true" data-icon-size="sm"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-size="10"
                            data-page-list="[10, 20, 50, 100, 200, 300]" data-show-export="true" data-reorderable-columns="true"  >
                        <thead>
                            <tr>

                                <th data-field="ID" data-print-ignore="true" class="text-center" data-visible="false" data-sortable="true" data-footer-formatter="idFormatter">ID</th>
                                <th data-field="actions" data-print-ignore="true" class="td-actions " data-events="operateEvents" data-formatter="operateFormatter">İşlemler</th>
                                <th data-field="TARIHSAAT" data-sortable="true">
                                    Tarih
                                </th>
                                @if (Model.id == 0)
                                {
                                    <th data-field="BANKAKODU" data-sortable="true">Banka Kodu</th>
                                    <th data-field="BANKAADI" data-sortable="true">Banka Adı<a class="no-print" style="color:transparent;">-----------------------------------------</a></th>

                                }
                                <th data-field="ISLEMTURU" data-sortable="true">İşlem Türü</th>
                                <th data-field="KAYITSEKLI" data-sortable="true">Ayrıntı</th>
                                <th data-field="TIPI">İşlem</th>
                                <th data-field="ISLEMNO">Belge No</th>

                                <th data-field="ACIKLAMA">Açıklama</th>
                                <th data-field="BORC" data-sortable="true" data-footer-formatter="priceFormatter" data-formatter="numberformatter">Borç</th>
                                <th data-field="ALACAK" data-sortable="true" data-footer-formatter="priceFormatter" data-formatter="numberformatter">Alacak</th>

                                <th data-field="SORUMLULUK_MERKEZI">S Merkezi</th>
                                <th data-field="actions" data-print-ignore="true" class="td-actions text-right no-print" data-events="operateEvents" data-formatter="operateFormatter">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>


                </div>

                <!-- /.card-body -->
           
            <!-- /.card -->


     
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


@section script{
    <script type="text/javascript">
       
        function pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }
        Date.prototype.formatMM = function () {
            return (pad(this.getDate()) +   "/" +pad(this.getMonth() + 1) +

                "/" + this.getFullYear());
        }

        function numberformatter(value, row, index) {
            if (!value)
                return "0.00";
            else {
                return [

                    numberWithCommas((Number(value.toString().replace(",", "."))).toFixed(2))
                ].join('');
            }
        }
        function numberWithCommas(x) {
            if (x != null)
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            else {
                return 0;
            }
        }
        function priceFormatter(data) {
            var field = this.field

            var toplam = data.map(function (row) {
                if (row[field])
                    return +Number(row[field].toString().replace(",", "."))
                else {
                    return +Number("0")
                }
            }).reduce(function (sum, i) {
                return sum + i
            }, 0);
            return numberformatter(toplam) + " TL"
        }
        function get_query_params(p) {
            var date = new Date($('#ilktarih').val());
            var dateson = new Date($('#sontarih').val());

            var arr = [{ verismi: "hareket.TARIHSAAT", deger: date.formatMMDDYYYY(), deger2: dateson.formatMMDDYYYY(), filtretipi: 4 }]
            if (document.getElementById("filtredevir").checked == true)
                arr.push({ verismi: "hareket.TIPI", deger: document.getElementById("filtredevir").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("filtregiris").checked == true)
                arr.push({ verismi: "hareket.TIPI", deger: document.getElementById("filtregiris").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("filtrecikis").checked == true)
                arr.push({ verismi: "hareket.TIPI", deger: document.getElementById("filtrecikis").value, deger2: "", filtretipi: 2 });
              if (document.getElementById("türdevir").checked == true)
                  arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türdevir").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türkasafisi").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türkasafisi").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türfatura").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türfatura").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türgenelgiderler").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türgenelgiderler").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türcari").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türcari").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türservis").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türservis").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türstok").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türstok").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türceksenet").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türceksenet").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türefatura").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türefatura").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türearsiv").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türearsiv").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türebanka").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türebanka").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türvisa").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türvisa").value, deger2: "", filtretipi: 2 });
            if (document.getElementById("türvisakomisyon").checked == true)
                arr.push({ verismi: "hareket.ISLEMTURU", deger: document.getElementById("türvisakomisyon").value, deger2: "", filtretipi: 2 });
            if (p.sort != null) {
                if (p.sort == "SORUMLULUK_MERKEZI" || p.sort == "SORUMLULUK_MERKEZI") {
                   return {

                       extraParam: 'abc',
                       search: p.search,
                       sort: p.sort,
                       order: p.order,
                       limit: p.limit,
                       offset: p.offset,

                       sort:p.sort,
                       id: @Model.id,
                       filterler: arr
                   }
               } else {
                   return {

                       extraParam: 'abc',
                       search: p.search,
                       sort: p.sort,
                       order: p.order,
                       limit: p.limit,
                       offset: p.offset,

                       sort: "hareket." + p.sort,
                       id: @Model.id,
                       filterler: arr
                   }
               }
            } else {
                   return {
                    extraParam: 'abc',
                       search: p.search,
                    sort: p.sort,
                    order: p.order,
                    limit: p.limit,
                    offset: p.offset,

                       sort: "ID",
                       id: @Model.id,
                       filterler: arr
                }

            }
    }


      
        function ajaxRequest(params) {
            const str = window.location.href;


            $.ajax({
                type: "POST",


                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/BANKA_HAREKET/dataham/",
                data: JSON.stringify({
                    ozelgenel: 0,
                    cariid: str.substring(str.length - 1)

                }),
                success: function (result) {
                    params.success(result)
                },
                error: function (result) {
                    alert('error');
                }
            });

        }

        var $table = $('#bootstrap-table');

        function operateFormatter(value, row, index) {
            return [
             
                '<a rel="tooltip" title="Haraketi Düzenle" class="btn btn-link btn-sm table-action edit" href="javascript:void(0)">',
                '<i class="fa fa-edit"></i>',
                '</a>'
            ].join('');
        }
        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }
        $().ready(function () {
            window.operateEvents = {
                'click .edit': function (e, value, row, index) {
                    info = JSON.stringify(row);
                    $.ajax({
                        type: "POST",


                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "/CARI_HAREKET/urlgetir/",
                        data: JSON.stringify({
                            belgeno: row.ISLEMNO,
                            türü: row.ISLEMTURU

                        }),
                        success: function (result) {
                            historysend(result);
                        },
                        error: function (result) {
                            alert('error');
                        }
                    });
                   
                },
         
            };

            $table.bootstrapTable({
                type: "POST",
                url: "/BANKA_HAREKET/GetData",
                method: 'post',
                contentType: 'application/x-www-form-urlencoded',
                queryParams: get_query_params,
                detailView: true,
                detailFormatter: detailFormatter,
                  printPageBuilder: function (table) {
        return `
<html>
  <head>
  <style type="text/css" media="print">
  page {
    size: auto;
    margin: 25px 0 25px 0;
  }
  </style>
  <style type="text/css" media="all">
    @@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
  table {
    border-collapse: collapse;
    font-size: 12px;
  }
  table, th, td {
    border: 1px solid grey;
  }
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  p {
    font-weight: bold;
    margin-left:20px;
  }
  table {
    width:94%;
    margin-left:3%;
    margin-right:3%;
  }
  div.bs-table-print {
    text-align:center;
  }
    h1.bs-table-print {
    text-align:center;
  }
 </style>
      <title>@Session["FirmaAdı"]</title>
     </head>
  <body>
     <h1 class="bs-table-print">@Model.kodu/@Model.ismi Hareket Raporu</h1>

  <div class="bs-table-print">  <table class="table-bordered table-sm"><thead>` + $table.children('thead').html() + '</thead><tbody>' + $table.children('tbody').html()+ "<tbody></table></div></body></html></div>"

      },
                clickToSelect: true,
                showRefresh: true,

                search: true,
                showToggle: true,
                showColumns: true,

                searchAlign: 'left',

                locale: 'tr-TR',
                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return "Toplam " + totalRows+" Kayıt";
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber + " Adet Listeleniyor";
                },

            });
            $table.on('  dbl-click-row.bs.table', function (e, row, $element) {

                $.ajax({
                    type: "POST",


                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "/CARI_HAREKET/urlgetir/",
                    data: JSON.stringify({
                        belgeno: row.ISLEMNO,
                        türü: row.ISLEMTURU

                    }),
                    success: function (result) {

                        historysend(result);


                    },
                    error: function (result) {
                        alert('error');
                    }
                });


            });
            $table.on('expand-row.bs.table', function (e, index, row, $detail) {
                $detail.html('Yükleniyor..');

                $.ajax({
                    type: "POST",


                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "/CARI_HAREKET/ayrintigetir/",
                    data: JSON.stringify({
                        belgeno: row.ISLEMNO,
                        türü: row.ISLEMTURU



                    }),
                    success: function (result) {

                        $detail.html(result.replace(/\n/g, '<br>'));

                    },
                    error: function (result) {
                        alert('error');
                    }
                });

            });
            //activate the tooltips after the data table is initialized
            $('[rel="tooltip"]').tooltip();

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });


        })

        function idFormatter() {
            return 'Toplam'
        }
         function detaylıyazdır() {
            window.location ="/BANKA_HAREKET/Rapor/" +@Model.id;


        }
        function nameFormatter(data) {
            return data.length
        }


        function footerStyle(column) {
            return {
                id: {
                    classes: 'uppercase'
                },
                name: {
                    css: { 'font-weight': 'normal' }
                },
                price: {
                    css: { color: 'red' }
                }
            }[column.field]
        }


    </script>
}
