@model And.ElkomMuhasebe.Core.Model.Entity.FirmaDB.CARI_BASLIK

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CARI_BASLIK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CARIKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARIKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRMAUNVANI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRMAUNVANI)
        </dd>

 

        <dt>
            @Html.DisplayNameFor(model => model.ISTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISFAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISFAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERGIDAIRESI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERGIDAIRESI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERGINUMARASI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERGINUMARASI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALISMUHASEBEKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALISMUHASEBEKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SATISMUHASEBEKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SATISMUHASEBEKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KREDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KREDI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RISK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RISK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VADEOPSIYON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VADEOPSIYON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISKONTOORAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISKONTOORAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUHATAPADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUHATAPADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BABAADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BABAADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANAADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANAADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MESLEGI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESLEGI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOGUMTARIHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOGUMTARIHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CINSIYET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CINSIYET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISTIHBARAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISTIHBARAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISILCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISILCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVILCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVILCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOPLAMBORC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOPLAMBORC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOPLAMALACAK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOPLAMALACAK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAKIYE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAKIYE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISPOSTAKODU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISPOSTAKODU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVPOSTAKODU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVPOSTAKODU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADISOYADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADISOYADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANGIADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANGIADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISADRES1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISADRES1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISADRES2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISADRES2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVADRES2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVADRES2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVADRES1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVADRES1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BARKODU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BARKODU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISTEL_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISTEL_2)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.E_POSTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_POSTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARABIRIMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARABIRIMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALISISKONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALISISKONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SATISISKONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SATISISKONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VADE_FARKI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VADE_FARKI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AKTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AKTIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISTEL_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISTEL_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISTEL_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISTEL_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISFAX2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISFAX2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVTEL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVTEL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEB_SITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEB_SITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIYATGRUBU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIYATGRUBU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORTVADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORTVADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORTVADE_ALACAK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORTVADE_ALACAK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORTVADE_BORC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORTVADE_BORC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORTGUN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORTGUN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BORC_ORTVADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BORC_ORTVADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BORC_ORTGUN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BORC_ORTGUN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOZ_TUTAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOZ_TUTAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOZ_BAS_TAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOZ_BAS_TAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOZ_BIT_TAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOZ_BIT_TAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOZLESME_DURUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOZLESME_DURUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEB_SIFRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEB_SIFRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMS_DURUN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMS_DURUN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMS_TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMS_TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEB_DURUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEB_DURUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEB_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEB_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEB_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SON_ALIS_FIYATI_GOSTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SON_ALIS_FIYATI_GOSTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SON_SATIS_FIYATI_GOSTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SON_SATIS_FIYATI_GOSTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUserID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
